html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#blocklyDiv {
  padding: 0;
}

#workspaceArea {
  height: 100%;
  width: calc(100% - 300px);
  float: left;
}

#rightArea {
  height: 100%;
  width: 290px;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

#rightArea > * {
  padding-left: 10px;
}

.titleHeader {
  border-bottom: 1px dotted #000;
  font-weight: normal;
  font-size: 140%;
  height: 40px;
  margin: 0;
  padding-top: 10px;
  width: 100%;
}

.content {
  height: calc(100% - 48px);
}

.codeToBlock .contentTitle {
  border-left: 10px solid #ed2553;
}

.blockToCode .contentTitle {
  border-left: 10px solid #18aa8d;
}

textarea.ocamlCode, textarea.generatedCode {
  resize: none;
}

.btn {
  color: black;
  cursor: pointer;
  background-color: #d3d3d3;
  outline: none;
  width: 110px;
}

.btn:hover {
  background-color: #c0c0c0;
}

.clear {
  clear: both;
}
